@import 'tailwindcss';

@theme {
  --color-dark-primary: #121212;
  --color-dark-secondary: #2a2a2a;
  --color-light-primary: #f4f8f9;
  --color-light-secondary: #a7a7a7;
  --color-mint-primary: #00bb9e;
  --color-red-primary: #ff4d4d;
  --color-red-secondary: #612b2b;
  --color-green-primary: #03b72f;
  --color-green-secondary: #135525;
}

html {
  background-color: var(--color-dark-primary);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  background-color: var(--color-dark-primary);
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  max-width: 448px;
  color: var(--color-light-primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
