@import 'tailwindcss';

@theme {
  --color-dark-primary: #121212;
  --color-dark-secondary: #2a2a2a;
  --color-light-primary: #f4f8f9;
  --color-light-secondary: #f5f5f5;
  --color-mint-primary: #00bb9e;
  --color-red-primary: #ff4d4d;
  --color-red-secondary: #612b2b;
  --color-green-primary: #03b72f;
  --color-green-secondary: #135525;
}

html {
  background-color: var(--color-dark-primary);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  background-color: var(--color-dark-primary);
  min-height: 100vh;
  width: 100vw;
  max-width: 448px;
  color: var(--color-light-primary);
}
